<div class="container">
        <h1>MacBook Air Pro M1</h1>
        <img class="card-img-top" src="../../assets/images/laptop.jpeg" alt="card image cap"><br>
        <p style="color: red;">Flat 20% Discount</p>
        <h1>$544</h1>
        <p>Heilights:</p>
        <ol>
            <li>Stylish and portable Thin and lite Laptop</li>
            <li>13.3 inch Quad LED Backlit IPS Display<br> (227 PPI, 400 nits Brightness, Wide Colour (P3),<br> True Tone Technology)</li>
            <li>Light Laptop without Optical Disk Drive</li>
        </ol>
</div>