<div class="row">
    <div class="col-md-8">
        <div class="card">
            <img class="card-img-top" src="../../assets/images/laptop.jpeg" alt="card image cap">
                <div class="card-body">
                  <h5 class="card-title">Laptop</h5>
                  <p style="color: red;">Flat 20% Discount</p>
                  <h1>$544</h1>
                  <a routerLink="laptop" class="btn btn-primary">Show More</a>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="../../assets/images/tv.jpeg" alt="card image cap">
                    <div class="card-body">
                      <h5 class="card-title">TV</h5>
                      <p style="color: red;">Flat 25% Discount</p>
                      <h1>$450</h1>
                      <a routerLink="tv" class="btn btn-primary">Show More</a>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" src="../../assets/images/tablet.jpeg" alt="card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Tablet</h5>
                          <p style="color: red;">Flat 15% Discount</p>
                          <h1>$300</h1>
                          <a routerLink="tablet" class="btn btn-primary">Show More</a>
                        </div>
                      </div>
                      <div class="card">
                        <img class="card-img-top" src="../../assets/images/washingmachine.jpeg" alt="card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Washing Machine</h5>
                              <p style="color: red;">Flat 30% Discount</p>
                              <h1>$784</h1>
                              <a routerLink="washingMachine" class="btn btn-primary">Show More</a>
                            </div>
                          </div>
          </div>
    <div class="col-md-4">
      <router-outlet></router-outlet>
    </div>
</div>